.venv
.vscode
__pycache__
*.pyc
*.pyo
*.pyd
*.log
*.tmp
svn/robobot/mqtt_python/logfile.txt
svn/robobot/teensy_interface/build/
svn/robobot/teensy_interface/log_*/
svn/robobot/teensy_interface/build/log*
svn/robobot/teensy_interface/log_*/
svn/robobot/mqtt_python/__pycache__
.venv/
svn/robobot/mqtt_python/Missions/__pycache__/
svn/robobot/mqtt_python/Missions/Objectives/__pycache__/
svn/robobot/mqtt_python/Missions/robot_actions/__pycache__/
.vscode
svn/robobot/teensy_interface/build
svn/robobot/mqtt_python/__pycache__
svn/robobot/mqtt_python/logfile.txt
.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.log
svn/robobot/teensy_interface/log_*/
svn/robobot/mqtt_python/__pycache__
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
svn/robobot/mqtt_python/__pycache__/
svn/robobot/mqtt_python/logfile.txt
svn/robobot/teensy_interface/build
svn/robobot/mqtt_python/Missions/logs
.vscode
.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.log
svn/robobot/mqtt_python/Missions/logfile.txt*
svn/robobot/mqtt_python/pid/

